/* _content/BlazorApp/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-qgsvw684bo] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-qgsvw684bo] {
    flex: 1;
}

.sidebar[b-qgsvw684bo] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-qgsvw684bo] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-qgsvw684bo]  a, .top-row[b-qgsvw684bo]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-qgsvw684bo]  a:hover, .top-row[b-qgsvw684bo]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-qgsvw684bo]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-qgsvw684bo] {
        justify-content: space-between;
    }

    .top-row[b-qgsvw684bo]  a, .top-row[b-qgsvw684bo]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-qgsvw684bo] {
        flex-direction: row;
    }

    .sidebar[b-qgsvw684bo] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-qgsvw684bo] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-qgsvw684bo]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-qgsvw684bo], article[b-qgsvw684bo] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-qgsvw684bo] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-qgsvw684bo] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/BlazorApp/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-g8o6n169oq] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-g8o6n169oq] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-g8o6n169oq] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-g8o6n169oq] {
    font-size: 1.1rem;
}

.bi[b-g8o6n169oq] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-g8o6n169oq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-g8o6n169oq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-g8o6n169oq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-g8o6n169oq] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-g8o6n169oq] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-g8o6n169oq] {
        padding-bottom: 1rem;
    }

    .nav-item[b-g8o6n169oq]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-g8o6n169oq]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-g8o6n169oq]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-g8o6n169oq] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-g8o6n169oq] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-g8o6n169oq] {
        display: none;
    }

    .nav-scrollable[b-g8o6n169oq] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/BlazorApp/Components/Pages/Home.razor.rz.scp.css */
/* Home Page Styles */

.welcome-container[b-7gt2111kuu] {
    display: flex;
    justify-content: space-between;
    padding: 6rem;
}

.welcome-left[b-7gt2111kuu] {
    flex: 1; /* Adjusts the left side to take up more space */
}

.welcome-title[b-7gt2111kuu] {
    font-size: 48px;
}

.budgeting[b-7gt2111kuu] {
    color: green;
}

.welcome-description[b-7gt2111kuu] {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.note[b-7gt2111kuu] {
    font-size: 18px;
    font-style: italic;
}

/* Login Button */
.login-button-container[b-7gt2111kuu] {
    margin-top: 1.5rem; /* Space above the button */
}

.login-button[b-7gt2111kuu] {
    background-color: #00694e;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    display: inline-block; 
}

    .login-button:hover[b-7gt2111kuu] {
        background-color: #00553d;
    }

    .login-button:focus[b-7gt2111kuu] {
        outline: none;
    }


/* Transaction Box Styles */
.transaction-box[b-7gt2111kuu] {
    background-color: #004c70; /* Blue background */
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 350px;
    margin-left: 20px;
}

.transactions-container[b-7gt2111kuu] {
    background-color: #004c70;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

/* Individual Transaction Style */
.transaction[b-7gt2111kuu] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
    border-radius: 10px;
    border: 1px solid #333; /* Slight border */
    margin-bottom: 10px;
    color: #333; /* Text color for the content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Transaction Icon Style */
.transaction-icon[b-7gt2111kuu] {
    width: 40px;
    height: 40px;
    background-color: #6f6f6f; 
    border-radius: 50%; /* Makes the icon round */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px; /* Space between icon and text */
    color: white; /* Icon color */
    font-size: 18px; /* Icon size */
}

/* Text inside the transaction */
.transaction-text[b-7gt2111kuu] {
    display: flex;
    flex-direction: column;
}

.transaction-name[b-7gt2111kuu] {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Darker color for contrast */
}

.transaction-description[b-7gt2111kuu] {
    font-size: 14px;
    color: #666; /* Lighter color for secondary text */
}

/* Transaction Amount Style */
.transaction-amount[b-7gt2111kuu] {
    font-size: 18px;
    font-weight: bold;
    color: #ff4f4f; /* Red color for negative amounts */
}

/* Transaction Box Text Styles */
.transaction-name[b-7gt2111kuu] {
    font-size: 16px;
    font-weight: bold;
    color: #333; /* Darker color for contrast */
}

.transaction-amount[b-7gt2111kuu] {
    font-size: 16px;
    color: #ff4f4f; /* Red color for negative amounts */
}


.set-goals-button[b-7gt2111kuu] {
    background-color: #00694e;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

    .set-goals-button:hover[b-7gt2111kuu] {
        background-color: #00553d;
    }

.transaction-note[b-7gt2111kuu] {
    font-size: 14px;
    margin-top: 10px;
    font-style: italic;
}
/* _content/BlazorApp/Components/Pages/Login.razor.rz.scp.css */
/* Login page */

/* Might change px units for widths and heights later */

.login-container[b-1dfqxkzgeh] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: #007AA3;
    color: #FFFFFF;
    margin: 5% 10%;
    padding: 2% 5%;

    border-radius: 15px;
    border-width: 1px;
    border-color: black;
    border-style: solid;

    height: 500px;
    max-height: 500px;
}

.login-container > form > *[b-1dfqxkzgeh] {
    margin-bottom: 16px; 
}

.login-form[b-1dfqxkzgeh] {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.input-field[b-1dfqxkzgeh] {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;
}

.input-box[b-1dfqxkzgeh] {
    width: 40%;
    height: 3rem;
    border-radius: 100px;
}

.button-container[b-1dfqxkzgeh] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 10rem;
}

.login-button[b-1dfqxkzgeh] {
    color: #FFFFFF;
    background-color: #4FA800;
    border-color: #FFFFFF;

    width: 40%;
    height: 3rem;
    border-radius: 100px;
}

.signup-button[b-1dfqxkzgeh] {
    /* 
        Changing the button to an <a> for the purpose of hrefing to another page ruins the perfect alignment.
        This should fix it.
    */
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background-color: #006747;
    border-color: #FFFFFF;

    width: 40%;
    height: 3rem;
    border-radius: 100px;
}

/* _content/BlazorApp/Components/Pages/Signup.razor.rz.scp.css */
/* Signup page */

/* Might change px units for widths and heights later */

.signup-container[b-j569fatkmf] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: #007AA3;
    color: #FFFFFF;
    margin: 5% 10%;
    padding: 2% 5%;

    border-radius: 15px;
    border-width: 1px;
    border-color: black;
    border-style: solid;

    height: 500px;
    max-height: 500px;
}

.signup-container > form > *[b-j569fatkmf] {
        margin-bottom: 16px;
}

.signup-form[b-j569fatkmf] {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.input-field[b-j569fatkmf] {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;

    width: 100%;
    height: 8rem;
}

.input-box[b-j569fatkmf] {
    width: 30%;
    height: 3rem;
    border-radius: 100px;
}

.button-container[b-j569fatkmf] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 10rem;
}

.signup-button[b-j569fatkmf] {
    color: #FFFFFF;
    background-color: #4FA800;
    border-color: #FFFFFF;

    width: 40%;
    height: 3rem;
    border-radius: 100px;
}

.login-button[b-j569fatkmf] {
    /* 
        Changing the button to an <a> for the purpose of hrefing to another page ruins the perfect alignment.
        This should fix it.
    */
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background-color: #006747;
    border-color: #FFFFFF;

    width: 40%;
    height: 3rem;
    border-radius: 100px;
}
