# Ignore user-specific files
# Updated 10/13
BlazorApp/.vs/
BlazorApp/.vscode/
BlazorApp/.idea/
BlazorApp/bin/
BlazorApp/obj/
.vs/
/BlazorApp/bin/Debug/net8.0/BlazorApp.dll
/BlazorApp/bin/Debug/net8.0/BlazorApp.exe
/BlazorApp/bin/Debug/net8.0/BlazorApp.pdb
/BlazorApp/obj/Debug/net8.0/ref/BlazorApp.dll
/BlazorApp/obj/Debug/net8.0/refint/BlazorApp.dll
/BlazorApp/obj/BlazorApp.csproj.nuget.dgspec.json
/BlazorApp/obj/BlazorApp.csproj.nuget.g.props
/BlazorApp/obj/project.assets.json
/BlazorApp/obj/project.nuget.cache
/BlazorApp/obj/Debug/net8.0/apphost.exe
/BlazorApp/obj/Debug/net8.0/BlazorApp.AssemblyInfo.cs
/BlazorApp/obj/Debug/net8.0/BlazorApp.AssemblyInfoInputs.cache
/BlazorApp/obj/Debug/net8.0/BlazorApp.assets.cache
/BlazorApp/obj/Debug/net8.0/BlazorApp.csproj.CoreCompileInputs.cache
/BlazorApp/obj/Debug/net8.0/BlazorApp.dll
/BlazorApp/obj/Debug/net8.0/BlazorApp.pdb
/BlazorApp/obj/Debug/net8.0/BlazorApp.sourcelink.json
/BlazorApp/obj/Debug/net8.0/BlazorApp.csproj.FileListAbsolute.txt
