@page "/bankaccounts/delete"
@using Microsoft.EntityFrameworkCore
@using BlazorApp.Models
@inject IDbContextFactory<BlazorApp.Data.BlazorAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>BankAccount</h2>
    <hr />
    @if (bankaccount is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">UserAccountId</dt>
            <dd class="col-sm-10">@bankaccount.UserAccountId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">AccountType</dt>
            <dd class="col-sm-10">@bankaccount.AccountType</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">AccountBalance</dt>
            <dd class="col-sm-10">@bankaccount.AccountBalance</dd>
        </dl>
        <EditForm method="post" Model="bankaccount" OnValidSubmit="DeleteBankAccount" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(bankaccount is null)">Delete</button> |
            <a href="/bankaccounts">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private BankAccount? bankaccount;

    [SupplyParameterFromQuery]
    private int BankAccountId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        bankaccount = await context.BankAccount.FirstOrDefaultAsync(m => m.BankAccountId == BankAccountId);

        if (bankaccount is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteBankAccount()
    {
        using var context = DbFactory.CreateDbContext();
        context.BankAccount.Remove(bankaccount!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/bankaccounts");
    }
}
