<div class="container">
    <footer class="py-3 my-4">

        <div class="footer-img-container">
            <img src="/Assets/Logos/CommerceLogo2.png" alt="CommerceBank Logo" style="width: 30%; z-index: 99;" />
        </div>

        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                    <span aria-hidden="true"></span> Home
                </NavLink>
                <!-- TO-DO: Fill this with less useless info. I just kept this here because it looks nice :) -->
                </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                    <span aria-hidden="true"></span> About
                </NavLink>
                </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                    <span aria-hidden="true"></span> Policy
                </NavLink>
                </li>
        </ul>

        <p class="text-center text-body-secondary">Copyright © 2024 Commerce Bancshares, Inc. All rights reserved. Commerce Bank, Member FDIC.</p>

    </footer>
</div>
