@inherits LayoutComponentBase
<!-- Try to not change me. Check the CSS for issues with page sizing. -->
<div class="page">
    <div class="navbar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>

    <div class="footer">
        <FooterComponent />
    </div>

</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
