<div>
        <img src="/Assets/Logos/CommerceLogo.png" alt="CommerceBank Logo" style="width:80%; padding: 1%" />
</div>

<div class="navbar-btn-container">
    <div>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All" ActiveClass="active-link">
            <span aria-hidden="true"></span> Home
        </NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="/nothinghere" Match="NavLinkMatch.All" ActiveClass="active-link">
            <span aria-hidden="true"></span> Debug
        </NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="/nothinghere" Match="NavLinkMatch.All" ActiveClass="active-link">
            <span aria-hidden="true"></span> Debug
        </NavLink>
    </div>
</div>

<div class="navbar-btn-container" style="justify-content: flex-end">
    <AuthorizeView>

        <!-- View for when the user is logged out -->
        <NotAuthorized>
    <div>
        <NavLink class="nav-link" href="/login" Match="NavLinkMatch.All" ActiveClass="active-link">
            <span aria-hidden="true"></span> Login
        </NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="/signup" Match="NavLinkMatch.All" ActiveClass="active-link">
            <span aria-hidden="true"></span> Signup
        </NavLink>
    </div>
        </NotAuthorized>


        <!-- View for when the user is logged in -->
        <Authorized>
    <div>
        <NavLink class="nav-link" href="/logout">
            <span aria-hidden="true"></span> Logout
        </NavLink>
    </div>

    <div>
        <NavLink class="nav-link" href="/usersettings">
            <span aria-hidden="true"></span> Settings
        </NavLink>
    </div>
        </Authorized>

    </AuthorizeView>
</div>



<!--
    Using Match and ActiveClass to detect what page the user is currently on. If the user is on that page, activate the active-link class.
    Again, the CSS on Blazor HTML components (dark green on VS default) need a ::deep before the class.
-->

@code {
}