@page "/counter"
@rendermode InteractiveServer
<!-- We aren't using this page, but there could possibly be helpful code. Don't delete yet! -->
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
