@page "/"

<PageTitle>Home</PageTitle>

<div class="welcome-container">
    <div class="welcome-left">
        <h1 class="welcome-title">
            Welcome Commerce Bank <br /><span class="budgeting">Budgeting</span>
        </h1>

        <p class="welcome-description">
            With the Commerce Bank Budgeting app, you can view your transactions, set goals to meet,
            gain insights from AI, and manage your accounts.
        </p>
        <p class="note">
            *An existing account with Commerce Bank is required.
        </p>

        <!-- Styled anchor tag-->
        <div class="login-button-container">
            <a href="/login" class="login-button">Log in</a>
        </div>
    </div>

    <!-- Transaction box-->
    <div class="transaction-box">
        <div class="monthly-income">
            <span>+ $5000.00</span>
            <p>Monthly Income</p>
        </div>
        <div class="transactions-container">
            <div class="transaction">
                <!-- Icon -->
                <div class="transaction-icon">
                    <span>&#8644;</span>
                </div>

                <div class="transaction-text">
                    <div class="transaction-description">Transaction</div>
                    <div class="transaction-name">Joel Kenley</div>
                </div>
                <div class="transaction-amount">-$68.00</div>
            </div>

            <div class="transaction">
                <div class="transaction-icon">
                    <span>&#8644;</span>
                </div>

                <div class="transaction-text">
                    <div class="transaction-description">Transaction</div>
                    <div class="transaction-name">Mark Smith</div>
                </div>
                <div class="transaction-amount">-$68.00</div>
            </div>

            <div class="transaction">
                <div class="transaction-icon">
                    <span>&#8644;</span>
                </div>

                <div class="transaction-text">
                    <div class="transaction-description">Transaction</div>
                    <div class="transaction-name">Lenen Roy</div>
                </div>
                <div class="transaction-amount">-$68.00</div>
            </div>

        </div>
        <p class="transaction-note">No oddities found</p> <!-- Idk what to put here yet honestly -->
        <button class="set-goals-button">Set Goals</button>
        
    </div>
</div>
