/* Home Page */

.welcome-container {
    padding-top: 2rem;
    padding-left: 2rem;
}

.welcome-title {
    font-size: 48px;
}

.budgeting {
    color: green;
}

.welcome-description {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.note {
    font-size: 18px;
    font-style: italic;
}

/* Button Styles */
.login-button {
    background-color: #00694e; /* Green background similar to the image */
    color: white;
    border: none;
    border-radius: 30px; /* Rounded corners */
    padding: 10px 30px; /* Padding for size */
    font-size: 18px;
    cursor: pointer;
}

    .login-button:hover {
        background-color: #00553d; /* Slightly darker green on hover */
    }

    .login-button:focus {
        outline: none; /* Remove the default focus outline */
    }
