@page "/"

<PageTitle>Home</PageTitle>

<div class="welcome-container">
    <h1 class="welcome-title">
        Welcome Commerce Bank <span class="budgeting">Budgeting</span>
    </h1>
    <p class="welcome-description">
        With the Commerce Bank Budgeting app, you can view your transactions, set goals to meet,
        gain insights from AI, and manage your accounts.
    </p>
    <p class="note">
        *An existing account with Commerce Bank is required.
    </p>

    <button class="login-button">Log in</button>
</div>
