@page "/login"


<div class="login-container">
    <h1>Login</h1>
    <p>Welcome back! Please log in to access your account.</p>
    <!--TO-DO: Finish styling input forms, change form submission path when possible.-->
    <form class="login-form" action="/auth.wtfgoeshere">
        <fieldset style="display: flex; flex-direction: row;"> <!--TO-DO: Move stles to css file: Login.razor.css-->
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" />
            <input type="password" id="password" name="paddword" class="form-control" placeholder="Enter your password"/>
        </fieldset>
        <button class="btn btn-primary login-button" type="submit">Login!</button>
    </form>
    <button class="btn btn-primary signup-button">Sign up!</button>
</div>

@code {

}
