@page "/login"

<PageTitle>Login</PageTitle>

<div class="login-container">

    <h1>Login</h1>

    <p>Welcome back! Please log in to access your account.</p>

    <!--TO-DO: Change action path when ready to implement.-->
    <form class="login-form" action="/auth.wtfgoeshere" id="myform">
        <fieldset class="input-field">
            <input class="input-box form-control" type ="email" id="email" name="email" placeholder="Enter your email" required/>
            <input class="input-box form-control" type="password" id="password" name="password" placeholder="Enter your password" required/>
            <!--TO-DO: Add a little eye button to reveal password [Optional idk lol]-->
        </fieldset>
    </form>

    <div class="button-container">
        <button class="btn btn-primary login-button" type="submit" form="myform">Login!</button>
        <a href="/signup" class="btn btn-primary signup-button" type="button">New user? Sign up!</a>
    </div>

</div>

<!--TO-DO: Add on-click listeners to retrieve email & pass from form to a temporary variable.-->

@code {

}
