.recovery-container {
    max-width: 500px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #007AA3; /* Blue background similar to the login page */
    border-radius: 15px; /* Slightly more rounded corners for modern look */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center;
    color: white;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

::deep .input-field {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 100px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: #32a343;
}
.btn-primary {
    color: #FFFFFF;
    background-color: #4FA800;
    border: 2px solid #FFFFFF; /* Explicit border color */
    width: 60%;
    height: 3rem;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}

    .btn-primary:focus {
        outline: none; /* Remove default focus outline */
        border-color: #FFFFFF; /* Ensure consistent border color */
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Focus effect */
    }

    .btn-primary:hover {
        background-color: #4FA800;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Hover effect */
    }


.alert {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #4FA800;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
}
