.recovery-container {
    max-width: 500px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #007AA3; /* Blue background similar to the login page */
    border-radius: 15px; /* Slightly more rounded corners for modern look */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center;
    color: white;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.description-text {
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.email-label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

::deep .input-field {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 100px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: #32a343;
}




::deep .input-box {
    width: 30%;
    height: 3rem;
    border-radius: 100px;
}


.btn-primary {
    color: #FFFFFF;
    background-color: #4FA800;
    border-color: #FFFFFF;

    width: 60%;
    height: 3rem;
    border-radius: 100px;

    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.btn-primary:hover {
    background-color: #4FA800;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Hover effect for better feedback */
}

.back-link {
    display: block;
    margin-top: 2rem;
    color: #e1e1e1; /* Lighter shade for link color */
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

.back-link:hover {
    color: #ffffff; /* Brighten link color on hover */
    text-decoration: underline;
}


.input-field{
    border-radius:x;
}