/* Signup page */

/* Might change px units for widths and heights later */

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: #007AA3;
    color: #FFFFFF;
    margin: 5% 10%;
    padding: 2% 5%;

    border-radius: 15px;
    border-width: 1px;
    border-color: black;
    border-style: solid;

    height: 500px;
    max-height: 500px;
}

.signup-container > form > * {
        margin-bottom: 16px;
}

/* Moved to be in the HTML because Blazor fuckery
.signup-form {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
}
*/

.input-field {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;

    width: 100%;
    height: 8rem;
}

/* Moved to be in the HTML because Blazor fuckery
.input-box {
    width: 30% !important; 
    height: 3rem;
    border-radius: 100px;
}
*/

::deep .input-box {
    width: 30% !important;
    height: 3rem;
    border-radius: 100px;
}

::deep .signup-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 10rem;
}

.signup-button {
    color: #FFFFFF;
    background-color: #4FA800;
    border-color: #FFFFFF;

    width: 40%;
    height: 3rem;
    border-radius: 100px;
}

.login-button {
    /* 
        Changing the button to an <a> for the purpose of hrefing to another page ruins the perfect alignment.
        This should fix it.
    */
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background-color: #006747;
    border-color: #FFFFFF;

    width: 40%;
    height: 3rem;
    border-radius: 100px;
}
